# remove maven output files
target/
*.class

# Mac .DS_Store
.DS_Store

# NetBeans custom maven targets file
nbactions.xml

# Eclipse junk
.settings/
.settings/*
src/main/webapp/WEB-INF/lib
.classpath
.project
.externalToolBuilders/
.metadata
*.launch

# Windows image file caches
Thumbs.db 

# Windows folder config file
Desktop.ini

#Ubuntu gEdit shadow files
*~
/dropNupdate.sh
/drop.sql

#IntelliJ stuff
/.idea/

id_file

*.log.*
*.log

ccighgo.fs
target
/.tern-project
