<div class="season-result">
	<div ng-if="tableViewListing == 'true'">
		<table ng-table class="table ng-table-responsive">
			<tbody>
				<tr ng-repeat="season in RSeasonsList | filter:query" ui-sref="home.detail({ seasonId: season.seasonId })" ui-sref-active="active"> 
					<td data-title="'Season Name'">{{ season.seasonName }}</td> 
					<td data-title="'Start Date'">{{ season.startDate | date:'MM/dd/yyyy' }}</td>
					<td data-title="'End Date'">{{ season.endDate | date:'MM/dd/yyyy' }}</td>
					<td data-title="'Department'">{{ season.department }}</td>
					<td data-title="'Status'">{{ season.seasonStatus }}</td>
					<td data-title="'Action'"> 
						<button class="btn btn-success">Clone</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-if="tableViewListing == 'false'">
		<ul class="seasonsListView">
			<li ng-repeat="season in RSeasonsList | filter:query" ui-sref="home.detail({ seasonId: season.seasonId })" ui-sref-active="active">
				<div>
					<div>{{season.seasonName}}</div>
					<div>
						<div class="h-layout">Start Date: {{season.startDate | date:'MM/dd/yyyy' }}</div>	
						<div class="h-layout">End Date: {{season.endDate | date:'MM/dd/yyyy' }}</div>	
						<div class="h-layout">Department: {{season.department}}</div>	
						<div class="h-layout">Status: {{season.seasonStatus}}</div>	
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>