<div class="seasons-detail">
<h2>HSP 2015</h2>
<form id="seasonForm" method="post" >
   <div class="tile">
  	<div class="row">
  		<div class="form-group">
				<label for="seasonName">Season Name :</label>
				<span class="input-wrap">
					<input type="text" ng-model="seasonDetail.seasonName" id="seasonName" />
				</span>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label for="startDate">Start Date :</label>
				<span class="input-wrap">
					<input type="date" ng-model="seasonDetail.startDate" id="startDate" />
				</span>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label for="endDate">End Date :</label>
				<span class="input-wrap">
					<input type="date" ng-model="seasonDetail.endDate" id="endDate" />
				</span>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label for="endDate">Is Job Board Open :</label>
				<span class="input-wrap">
					<input type="text" ng-model="seasonDetail.isJobBoardOpen" id="isJobBoard" />
				</span>
			</div>
		</div>
	</div>
</form>
</div>