<div class="season-filter-view">
	<div class="search-holder">
		<input type="search" placeholder="Season Name, Program Type, Season Status, etc."/>
	</div>
	<div class="form-group">
		<label for="filterDept">Department</label>
		<select class="form-control" id="filterDept">
			<option>All</option>
		</select>
	</div>
	<div class="form-group">
		<label for="filterProgOption">Program Option</label>
		<select class="form-control" id="filterProgOption">
			<option>All</option>
		</select>
	</div>
	<div class="form-group">
		<label for="filterStartDate">Start Date</label>
		<input type="text" class="form-control" id="filterStartDate">
	</div>
	<div class="form-group">
		<label for="filterEndDate">End Date</label>
		<input type="text" class="form-control" id="filterEndDate">
	</div>
	<div class="form-group">
		<label for="filterSeasonStatus">Season Status</label>
		<select class="form-control" id="filterSeasonStatus">
			<option>All</option>
		</select>
	</div>
</div>
<h3><small>Seasons Filter</small></h3>