<div class="seasons-detail">
<form id="seasonForm" method="post" >
    <div class="form-group">
        <div class="row">
            <div>
                <label>Season Name</label>
                <input type="text" name="seasonName" value="{{seasonDetail.seasonName}}"/>
            </div>
            <div>
              <label>Start date</label>
              <input type="text" name="startDate" value="{{seasonDetail.startDate | date:'MM/dd/yyyy'}}"/>
            </div>
            <div>
              <label class="control-label">End date</label>
              <input type="text" name="endDate" value="{{seasonDetail.endDate | date:'MM/dd/yyyy'}}"/>
            </div>
            <div>
              <label class="control-label">Is Job Board Open</label>
              <input type="text" name="isJobBoard" value="{{seasonDetail.isJobBoardOpen}}"/>
            </div>
           <!-- <div class="col-xs-4 selectContainer">
                <label class="control-label">Genre</label>
                <select class="form-control" name="genre">
                    <option value="">Choose a genre</option>
                    <option value="action">Action</option>
                    <option value="comedy">Comedy</option>
                    <option value="horror">Horror</option>
                    <option value="romance">Romance</option>
                </select>
            </div> -->
        </div>
    </div>
</form>
</div>