<div class="season-filter-view">
	<div class="search-holder">
		<input type="search" placeholder="Season Name, Program Type, Season Status, etc." ng-model="query.$"/>
	</div>
	<div class="form-group">
		<label for="filterDept">Department</label>
		<select class="form-control" id="filterDept" ng-model="query.department">
			<option value="">All</option>
			<option value="HSP">HSP</option>
			<option value="WP">WP</option>
		</select>
	</div>
	<!--
	<div class="form-group">
		<label for="filterProgType">Program Type</label>
		<select class="form-control" id="filterProgType">
			<option>All</option>
		</select>
	</div>
	<div class="form-group">
		<label for="filterProgOption">Program Option</label>
		<select class="form-control" id="filterProgOption">
			<option>All</option>
		</select>
	</div> -->
	<div class="form-group">
		<label for="filterStartDate">Start Date</label>
		<input type="date" class="form-control" id="filterStartDate" ng-model="query.startDate">
	</div>
	<div class="form-group">
		<label for="filterEndDate">End Date</label>
		<input type="date" class="form-control" id="filterEndDate" ng-model="query.endDate">
	</div>
	<div class="form-group">
		<label for="filterSeasonStatus">Season Status</label>
		<select class="form-control" id="filterSeasonStatus" ng-model="query.seasonStatus">
			<option value="">All</option>
			<option value="Open">OPEN</option>
			<option value="Close">CLOSE</option>
		</select>
	</div>
</div>