    </div>
    <!-- inject:vendor:js -->
    <script src="/angular/angular.js"></script>
    <script src="/angular-route/angular-route.js"></script>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/module/seasons/seasons.js"></script>
    <script src="/module/seasons/controllers/SeasonsListingCtrl.js"></script>
    <script src="/module/seasons/controllers/SeasonDetailsCtrl.js"></script>
    <script src="/module/seasons/controllers/ProgramListingCtrl.js"></script>
    <script src="/module/todo/todo.js"></script>
    <script src="/module/todo/todo-controller.js"></script>
    <script src="/module/core/jq-handler.js"></script>
    <script src="/core/app.js"></script>
    <script src="/ui-templates.js"></script>
    <!-- endinject -->
  </body>
</html>
