html, body{
	height: 100%;
}

body{
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.v-layout {
	position: relative;
	display: block;
	width: auto;
	left: 0px;
	top: 0px;
	border: 0px;
	margin: 0px;
	padding: 0px;
	min-height: 1.5em;
	overflow: visible;
}

.h-layout {
	position: relative;
	display: inline-block;
	left: 0px;
	top: 0px;
	border: 0px;
	vertical-align: top;
}

.full-height{
	height: 100%;
}

.aling-center{
	text-align: center;
}

.align-left{
	text-align: left;
}

.align-right{
	text-align: right;
}

.page-container {
	width: 100%;
	height: 100%;
	background-color: inherit;
}

.header{
	position: fixed;
	left: 0;
	top: 0;
	display: block;
	height: 100px;
	width: 100%;
	padding: 0 20px;
	z-index: 800;
	background-color: #fff;
	border-bottom: 1px solid rgba(230, 230, 230, 0.7);
}
.inline-holder{
	display: inline-block;
}
.header .top-header,.header .bottom-header {
	height: 50px;
}

.top-header > div{
	height: 50px;
	float: left;
	display: inline-block;
}
.split-33 {
	width: 33%;
	display: inline-block;
}
.split-40 {
	width: 40%;
	display: inline-block;
}
.split-20 {
	width: 20%;
	display: inline-block;
}

#header .top-header div .nav>li>a {
  	padding: 5px 8px;
  	margin: 10px 0px
}

.logo-holder, .menu-holder{
	padding: 10px;
}
.top-header .split-20>div {
	background-repeat: no-repeat;
	background-position: center;
	width: 34px;
	height: 34px;
	border: 1px solid;
	margin: 10px 5px;
	border-radius: 18px;
}
.add_new_icon{
	background-image: url('/core/assets/images/add_new.png');
}
.search_icon{
	background-image: url('/core/assets/images/search.png');
}
.bottom-header {
	margin: 0px -20px;
	background-color: #E3E8EF;
}
.bottom-header .page-title h3 {
  margin: 10px;
  line-height: 24px;
}
.page-filter {
    margin: 12px 20px;
}
.page-filter > label {
    padding-right: 10px;
}
.page-content-holder {
	position: relative;
	top: 0px;
	left: 0px;
}
.page-content-holder .page-content{
	padding-top: 100px;
	-webkit-transition: all 0.3s ease;
  	transition: all 0.3s ease;
  	position: relative;
	top: 0px;
	left: 0px;
}
.page-content > div {
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	border-right: 1px solid #F0F0F0;
	float: left;
}
.page-content > div .column-header {
  position: relative;
  top: 0px;
  left: 0px;
  height: 40px;
  background-color: #00B4EF;
  color: #fff;
  padding: 10px;
}
.split-pane-2{
	background-color: #fff;
}
.split-pane-1,.split-pane-3  {
	background-color: #f9f9f9;
}

.split-pane-3 {
	position: absolute;
	right: 0px;
 	top: 100px;
 	margin-bottom: -100px;
 	z-index: 20;
 	/*background-color: #DFDFDF;*/
}
.layout-a .split-pane-1 {
 	width: 190px;
}
.layout-a .split-pane-2 {
 	width: 420px;
}
.layout-a .split-pane-3 {
 	left: 610px;
}
.layout-b .split-pane-1 {
  	width: 190px;
}
.layout-b .split-pane-3 {
	left: 190px;
}
.layout-c .split-pane-1 {
	width: 190px;
}
.layout-c .split-pane-2 {
	width: 828px;
}
.layout-c .split-pane-3 {
  	left: 1018px;
}
.layout-d .split-pane-1{
	width: 316px;
}
.layout-d .split-pane-2{
	width: 544px;
}
.layout-d .split-pane-3{
	left: 860px;
}
.layout-e .split-pane-2{
	width: 47px;
}
.layout-e .split-pane-3{
	left: 0px;
	border-left: 20px solid rgba(45, 38, 38, 0.57);
}
.layout-f .split-pane-1{
	width: 316px;
}
.layout-f .split-pane-2{
	width: 420px;
}
.layout-f .split-pane-3{
	left: 736px;
}
.layout-g .split-pane-1{
	width: 190px;
}
.layout-g .split-pane-2{
	width: 544px;
}
.layout-g .split-pane-3{
	left: 734px;
}
.panel-handle{
	position: absolute;
	top: 10px;
	right: 6px;
	width: 20px;
	height: 20px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	background-size: cover;
}
.expand {
	background-image: url('https://cdn0.iconfinder.com/data/icons/math-business-icon-set/93/1_1-32.png');
	z-index: 10;
}
.retract{
	background-image: url('https://cdn0.iconfinder.com/data/icons/math-business-icon-set/93/1_2-32.png');
	z-index: 10;
}
.split-pane-3 .panel-handle{
	left: 6px;
	right: auto;
}
/*
.split-pane-4 {
	padding-left: 10px;
	position: absolute;
	top: 100px;
	margin-bottom: -100px;
	padding-bottom: 100px;
	right: 0px;
	width: 10px;
	background-color: #E4B162;
}
.split-pane-4.fourth-pane{
	width: 10px;
}*/
.seasons-list, .programs-list {
    padding: 0px;
    list-style: none;
}
.seasons-list li, .programs-list li{
    padding: 15px 10px;
    border-bottom: 1px solid #efefef;
    text-transform: capitalize;
}
.mobile-menu{
	font-size: 25px;
	display: none;
	padding: 10px;
}
.seasons-detail {
  padding: 5px 10px;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(118, 118, 118, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(195, 189, 189, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(207, 207, 207, 0.5);
}

.page-container .page-content-holder .page-content > div.inline-holder{
    transition:all 0.3s ease;
}

.page-container .page-content-holder .page-content {
	/*-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 0.5s;
	-moz-transition: -webkit-transform 0.5s;
	-o-transition: -webkit-transform 0.5s;
	-ms-transition: -webkit-transform 0.5s;
	transition: -webkit-transform 0.5s;*/
}

.seasons-detail form .form-group {
  margin: 10px auto;
}

.full-slide{
	width:100%;
}

.hidden{
	display: none;
}

@media (min-width: 1024px) {
	.top-header .split-40:first-child{
		width: 30%;
	}
	.top-header .split-40{
		width: 45%;
	}
	.top-header .split-20{
		/*width: 10%;*/
	}
}
@media (min-width: 1025px) {}
@media (min-width: 1201px) {
	.fourth-pane{
		width: 30%;
	}
}
@media (max-width: 480px) {
	.top-header .split-40:last-child{
		width: 60px;
	}
	.top-header .split-40 .full-menu{
		display: none;
	}
	.top-header .split-40 .mobile-menu{
		display: inline-block;
	}
	.top-header .split-20{
		width: 40%;
	}
	.top-header .split-40{
		width: 30%;
	}
}
@media (max-width: 768px){}

@media (min-width: 479px) and (max-width: 768px){
	.top-header .split-40:last-child{
		width: 60px;
	}
	.top-header .split-40 .full-menu{
		display: none;
	}
	.top-header .split-40 .mobile-menu{
		display: inline-block;
	}
	.top-header .split-20{
		width: 30%;
	}
	.top-header .split-40{
		width: 30%;
	}
}
@media (min-width: 767px) and (max-width: 990px) {
	.top-header .split-40:first-child{
		width: 25%;
	}
	.top-header .split-40{
		width: 50%;
	}
}
/* ======== Tablet Device Media Queries ======== */
@media (min-width: 767px) and (max-width: 1023px) {
	.page-content .panel-handle{
		display: none;
	}
	.layout-a .split-pane-1 {
	 	width: 35%;
	}
	.layout-a .tab-hidden {
	 	display: none;
	}
	.layout-a .split-pane-2 {
	 	width: 65%;
	}
	.layout-a .split-pane-3 {
	 	left: 100%;
	}
	.layout-a .split-pane-3.tab-hidden {
	 	display: none;
	}
	.layout-b .split-pane-1 {
	  	width: 30%;
	}
	.layout-b .split-pane-3 {
		left: 30%;
	}
	.layout-c .split-pane-1 {
		width: 50%;
	}
	.layout-c .tab-hidden {
	 	display: none;
	}
	.layout-c .split-pane-2 {
		width: 50%;
	}
	.layout-c .split-pane-3 {
	  	left: 50%;
	}
	.layout-d .split-pane-1{
		width: 50%;
	}
	.layout-d .split-pane-2{
		width: 50%;
	}
	.layout-d .split-pane-3{
		left: 50%;
	}
	.layout-d .tab-hidden {
	 	display: none;
	}
	.layout-e .split-pane-2{
		width: 47px;
	}
	.layout-e .split-pane-3{
		left: 0px;
		border-left: 20px solid rgba(45, 38, 38, 0.57);
	}
	.layout-f .split-pane-1{
		width: 50%;
	}
	.layout-f .split-pane-2{
		width: 50%;
	}
	.layout-f .split-pane-3{
		left: 50%;
	}
	.layout-f .tab-hidden {
	 	display: none;
	}
	.layout-g .split-pane-1{
		width: 50%;
	}
	.layout-g .split-pane-2{
		width: 50%;
	}
	.layout-g .split-pane-3{
		left: 50%;
	}
	.layout-g .tab-hidden {
	 	display: none;
	}
}

/* =========== Mobile Specific Media Queries =========== */
@media (max-width: 767px){
	.page-content .panel-handle{
		display: none;
	}
	#pageHolder .mob-visible {
		left: 0px;
		width: 100%;
		display: inline-block;
	}
	.page-content > .inline-holder {
		display: none;
	}
}

@media (min-width: 1201px) and (max-width: 1279px){

}
@media (min-width: 1280px){

}

.page-title a {
  display: inline-block;
  margin: 5px;
}

.programs-list .selected {
  background: #FFF;
}

.seasons-list .selected {
	background: #DEEDE9;
}
.no-selection {
  padding: 50px 0px;
  text-align: center;
  color: #797979;
  font-weight: 700;
  font-size: 16px;
}
.split-pane-4 {
  width: 100%;
	background-color: #f2f2f2;
}
.split-pane-4 .season-selector {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
	margin-top: -90px;
}
.split-pane-4 .season-selector h2{
	margin-top: 10px;
}
.new-season-form {
  margin: 5px 10px;
}
.action-holder {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #6D6D6D;
}
.season-filter-view{
	margin: 5px;
}
.search-holder {
	margin: 10px 0px;
  padding: 10px 5px;
  background-color: #fff;
  box-shadow: inset 0 0 8px rgb(216, 216, 216);
  border: 1px solid #E6E6E6;
  border-radius: 5px;
}
.search-holder > input[type="search"]{
	border-bottom: 0px;
}