label {
  color: #000;
  font-weight: normal;

  &.editable {
    color: $label-color
  }
}

.form-group {
  label {
    float: left;
    margin-right: 5px;
  }
}

.input-wrap {
  display: block;
  overflow: hidden;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  &:focus {
    outline: none;
  }

  &[type="file"] {
    border: none;
  }

  &[type="checkbox"] {
    width: auto;
  }
}

.form-group input[type="date"]{
	line-height: normal;
}
.form-container {
  padding: 10px 10px 5px 10px;
  background-color: #fff;
}
