/* Search Criteria */

.search-field {
  background: #fff;
  border: none;
  font-size: 8.5px;
  padding: 10px;
}

/* Search Results */

.search-result {
  border-bottom: 1px solid #e6e7e8;
  font-size: 12px;
  padding: 25px 0;

  .input-wrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .form-group {
    margin-bottom: 0;
  }
}

.img-profile-wrap {
  padding-right: 0;
}

.search-result-heading {
  font-size: 16px;
}

.search-result-subheading {
  font-size: 13.5px;
  margin-bottom: 10px;
}

.staff-name {
  color: $staff-color;
}
