.tile {
  background: $tile-background;
  padding: 10px;
}

.tile-masonry {
  -webkit-column-count: 3;
  -webkit-column-gap: 1em;

  .tile {
    display: inline-block;
    margin-bottom: 1em;
    width: 100%;
  }
}
