<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation=" 
               http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd    
               http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd     
               http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd     
               http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
               http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<import resource="persistenceContext.xml" />

	<context:component-scan base-package="com.ccighgo" />

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource"
		autowire-candidate="true">
		<property name="basenames">
			<value>/META-INF/ccighgomessages,/sevis/errormessages,/sevis/schema
			</value>
		</property>
	</bean>

</beans>
